@import url('https://fonts.cdnfonts.com/css/brittany-signature');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .nav-link {
    @apply text-gray-600 transition-colors dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400;
  }
  
  .social-link {
    @apply p-3 text-gray-600 transition-colors bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-blue-900 hover:text-blue-600 dark:hover:text-blue-400;
  }
  
  .section-title {
    @apply mb-12 text-3xl font-bold text-center text-gray-800 dark:text-white;
  }
  
  .footer-link {
    @apply flex items-center text-gray-300 transition-colors hover:text-blue-400;
  }
}


#gvHero{
  font-family: 'Brittany Signature', sans-serif;
}